@model IMAPMailCommunicator.Model.MailMessageWrapper

<div class="col-md-12">
    <div class="col-md-10 text-left">
        <h4><b>Mail Content</b></h4>
    </div>
    <div class="col-md-2 text-right">
        <a class="btn btn-default" href="#" onclick="javascript:Mail.backToMailBoxList();"><i class="fa fa-arrow-left"></i> Back</a>
    </div>
</div>
<br />
<div class="col-md-12 text-center">
    <hr />
</div>
@if (Model != null)
{
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-2 text-right">
                <b>From :</b>
            </div>
            <div class="col-md-10">
                @Model.MailMessage.From.DisplayName (@Model.MailMessage.From.DisplayName)
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 text-right">
                <b>Subject :</b>
            </div>
            <div class="col-md-10">
                @Model.MailMessage.Subject
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 text-right">
                <b>Content :</b>
            </div>
            <div class="col-md-10">
                @Html.TextArea("textAreaMailContent", Model.MailMessage.Body, 20, 0, new Dictionary<string, object> { { "style", "width:100%; max-width: 100% !important;" } })
            </div>
        </div>
    </div>
}
else
{
    <span>Error occured while fetching message details.</span>
}
